@page
@using BussinessLayer.Controllers;
@using DataItems.LogicItems;
@using DataAccessLayer
@using DataAccessLayer.DAL;
@model GroupProject.Pages.HomeModel
@{
	Layout = "Shared/_LoginLayout";
}

<div class="login">
    <video autoplay loop muted class="bg-video">
        <source src="assets/media/login/background.mp4" type="video/mp4">
    </video>
    <section class="login text-center">
        <div class="container">
            <div class="login-block">
                <div class="login-content">
                    <div class="title-enhanced">
                        <h1 style="margin-top: 15px">Welcome, @Model._loggedInEmployee.Name!</h1>
                    </div>
                    <br />
                    <h2 class="mt-3 section-title">
                        <img src="assets/media/Announcements.png" alt="Announcement Icon" class="section-icon"> Announcements:
                    </h2>
                    <div class="row">
                        @if (Model._announcements != null)
                        {
                            foreach (var a in Model._announcements)
                            {
                                <div class="col-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">@a.Title</h4>
                                            <p class="card-text">@a.Details</p>
                                            @if (@a.VacationId != 0)
                                            {
                                                <a asp-page="/ChooseShift" asp-route-id="@a.VacationId" class="btn btn-primary">See available shifts</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <br />
                    <hr class="section-divider">
                    <h2 class="mt-3 section-title">
                        <img src="assets/media/Timesheet.png" alt="Shifts Icon" class="section-icon"> Shifts:
                    </h2>
                    <div class="row">
                        @foreach (var shift in Model._assignedShifts)
                        {
                            <div class="col-auto">
                                <div style="width: 370px"class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@shift.Date.ToShortDateString() : @shift.GetType()</h5>
                                        @switch (shift.Type)
                                        {
                                            case (int)DataItems.LogicItems.ShiftType.Morning:
                                                <p class="card-text">12am - 4pm</p>
                                                break;
                                            case (int)DataItems.LogicItems.ShiftType.Afternoon:
                                                <p class="card-text">8pm - 12am</p>
                                                break;
                                            case (int)DataItems.LogicItems.ShiftType.Evening:
                                                <p class="card-text">4am - 8am</p>
                                                break;
                                            case (int)DataItems.LogicItems.ShiftType.EarlyMorning:
                                                <p class="card-text">8am - 12pm</p>
                                                break;
                                            case (int)DataItems.LogicItems.ShiftType.EarlyAfternoon:
                                                <p class="card-text">4pm - 8pm</p>
                                                break;
                                            case (int)DataItems.LogicItems.ShiftType.EarlyEvening:
                                                <p class="card-text">0am - 4am</p>
                                                break;
                                            default:
                                                <p class="card-text">Unknown Shift</p>
                                                break;
                                        }

                                        @if (Model.shiftIdsToCancel.Contains(shift.Id))
                                        {
                                            <a asp-page="/CallInSick" asp-route-id="@shift.Id" class="btn btn-primary">Cancel</a>
                                        }
                                        else
                                        {
                                            <a asp-page="/CallInSick" asp-route-id="@shift.Id" class="btn btn-dark disabled">Too early to cancel</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    