@page
@using DataBlocks.LogicItems;
@model GroupProject.Pages.StockModel
@{
    Layout = "Shared/_LoginLayout";

}

<div class="login">
    <video autoplay loop muted class="bg-video">
        <source src="assets/media/login/background.mp4" type="video/mp4">
    </video>
    <section class="login text-center">
        <div class="container">
            <div class="login-block">
                <div style="margin-top:-45px" class="login-content">
                    <h2 class="mt-3 section-title">
                        <img src="assets/media/Stock.png" alt="Stock Icon" class="section-icon"> Stock Items:
                    </h2>
                    <hr class="section-divider">
                    <div class="row">
                        @foreach (var stock in Model.stocks)
                        {
                            <div class="col-auto">
                                <div class="card stock-list-item">
                                    <div style="width: 390px"class="card-body">
                                        <h4 class="card-title">@stock.Name</h4>
                                        <p class="card-text">Price: $@stock.Price</p>
                                        <p class="card-text">Available Amount: @stock.Amount</p>
                                        <p class="card-text description-preview" onclick="showFullDescription('@stock.Description')">
                                            Description: @GetShortDescription(stock.Description)
                                        </p>
                                        <form method="post">
                                            <input type="hidden" name="id" value="@stock.Id" />
                                            <div class="form-group">
                                                <label asp-for="@stock.Amount">Amount</label>
                                                <input asp-for="@stock.Amount" name="amount" class="form-control" />
                                            </div>
                                            <button type="submit" class="btn btn-primary">UPDATE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function showFullDescription(description) {
        alert(description);
    }
    @functions {
        public string GetShortDescription(string description)
        {
            var words = description.Split(' ');
            if (words.Length <= 4)
                return description;

            return string.Join(" ", words.Take(4)) + "...";
        }
    }
</script>

<style>
    .description-preview:hover {
        color: #9C54D5;
        cursor: pointer;
    }
</style>